<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <% if current_user?(@user) || current_user.admin? %>
        <td>
          <%= link_to "⇦ ", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
          <%= l(@first_day, format: :middle) %>時間管理表
          <%= link_to "⇨", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        </td>
      <% else %>
         <td><%= l(@first_day, format: :middle) %>時間管理表</td>
      <% end %>
      <td>指定勤務開始時間:<%= l(@user.designated_work_start_time, format: :time) %>
         <br>
          指定勤務終了時間:<%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      <td colspan="3" class="table-active">基本時間<%= format_basic_info(@user.basic_work_time) %></td>
      <td>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td>0<%= @user.id %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<div class="notice">
  <% if current_user.superior? && current_user?(@user) %>
      <!--所属長承認申請のお知らせ-->
    <div>
      <% if @one_month_approval_sum > 0 %>
        <%= link_to "【所属長承認申請のお知らせ】", edit_one_month_approval_user_attendance_path(@user), remote: true, class: "notice-superior" %>
        <span class="notice-border-superior"><%= "#{@one_month_approval_sum}件の通知があります" %></span>
        <% else %>
        <%= "【所属長承認申請のお知らせ】" %>
      <% end %>
    </div>
      <!--勤怠変更申請のお知らせ-->
    <div>
      <% if @attendance_change_sum > 0 %>
        <%= link_to "【勤怠変更申請のお知らせ】", edit_attendance_change_user_attendance_path(@user), remote: true, class: "notice-superior" %>
        <span class="notice-border-superior"><%= "#{@attendance_change_sum}件の通知があります" %></span>
      <% else %>
        <%= "【勤怠変更申請のお知らせ】" %>
      <% end %>
    </div>
      <!--残業申請-->
    <div>
      <% if @overwork_sum > 0 %>
        <%= link_to "【残業申請のお知らせ】", edit_overwork_notice_user_attendance_path(@user), remote: true, class: "notice-superior" %>
        <span class="notice-border-superior"><%= "#{@overwork_sum}件の通知があります" %></span>
      <% else %>
        <%= "【残業申請のお知らせ】" %>
      <% end %>
    </div>
  <% end %>
</div>
<% if current_user?(@user) || current_user.admin? %>
  <div><%= link_to "1ヶ月勤怠を編集", attendances_edit_one_month_user_path(@user,date: @first_day), class: "btn btn-primary" %>
       <%= link_to "CSV出力", user_path(@user, date: @first_day, format: :csv), class: "btn btn-primary" %>
       <br><%= link_to "勤怠修正ログ", log_page_user_attendance_path(@user), remote: true, class: "btn btn-primary" %>
  </div>
<% end %>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="6">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th colspan="3" rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <% if current_user?(@user) || current_user.admin? %>
            <%= link_to "残業申請", edit_overwork_user_attendance_path(@user,day), remote: true, class: "btn-primary" %>
            <% end %>
          </td>
          
          <td class='<%= "wday#{day.worked_on.wday}"%>'> <%=$days_of_the_week[day.worked_on.wday] %></td>
          <td><%= format_hour(day.started_at.hour) if day.started_at.present? %></td>
          <td><%= format_min(day.started_at.min) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= format_hour(day.finished_at.hour) if day.finished_at.present? %></td>
          <td><%= format_min(day.finished_at.min) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
            </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr></tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>

<div id="log-page" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>