<% provide(:title, 'log-page') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>      
    </div>
    <h1 class="modal-title">【勤怠ログ】</h1>    
    <div class="modal-body">        
      <%= form_with(url: log_page_user_attendance_path(@user), remote: true, method: :get) do |f| %>
        <!--<%= f.date_select(:worked_on_log, start_year: 2020, end_year: 2022, discard_day: true, class: "search-date" ) %>-->
        <tr>
          <td width="80"><%= f.date_select :select_year, {discard_month: "true", selected: @first_day}, class: "search-date" %></td>
        </tr>
        <tr>
          <td width="80"><%= f.date_select :select_month, {discard_year: "true", discard_day: "true", selected: @first_day}, class: "search-date" %></td>
        </tr>
        <br><%= f.submit "検索", class: "btn btn-md btn-primary" %>
      <% end %>       
      <table class="table table-bordered table-condensed table-hover" id="table-attendances">            
        <thead>
          <tr>
            <th>日付</th>                          
            <th>変更前出勤時間</th>
            <th>変更前退勤時間</th>            
            <th>変更後出勤時間</th>
            <th>変更後退勤時間</th>                             
            <th>承認者</th>                
            <th>承認日</th>
          </tr>              
        </thead>
        <tbody>
          <% @attendances.each do |day| %>                                  
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>                  
              <!--変更前・出勤-->                    
              <td><%= day.begin_started.strftime("%R") if day.begin_started.present? %></td>                    
              <!--変更前・退勤-->
              <td><%= day.begin_finished.strftime("%R") if day.begin_finished.present? %></td>                    
              <!--変更後・出勤-->
              <td><%= day.started_at.strftime("%R") if day.started_at.present? %></td>                    
              <!--変更後・退勤-->
              <td><%= day.finished_at.strftime("%R") if day.finished_at.present? %></td>                 
              <!--<td><%= day.superior_attendance_change_confirmation %></td>-->
              <td><%= User.find(day.superior_attendance_change_confirmation).name %></td>
              <td><%= l(day.updated_at, format: :long) %></td>                  
            </tr>                
          <% end %>                                
        </tbody>           
      </table> 
    </div>
  </div>
</div>